<section  class="box-60 border-2-grey center-60 relative text-center">
			<p>Ejemplo de filtro de datos con Angular: (básico usando la funcion filter de angular) </p>
			<p>Buscar: <input ng-model="basic"></p>

		</section>
		<section class="box-60 border-2-grey center-60 relative text-center">
			<p>Ejemplo de impresión de datos con Angular: </p>
			
			<li ng-repeat="dato in datos | filter:basic ">
	      		<p>{{dato.name}}</p>
	      		{{dato.description}}
	     	</li>
	     	[<a ng-click="openModal()">Añadir</a>]
		</section>
		<div class="modal-bg" ng-if="DisplayUpdate === 'none'">
			<section id="pop" class="box-60 border-2-grey center-60 middle-60 absolute cust-popup text-center ">
				<a ng-click="closeModal()" class="cust-close">X</a>
				<form name="addData"></form>
				<p>Nombre: <input ng-model="data.name"/></p>
				<p>Descripción: <textarea ng-model="data.description"></textarea></p>
				<p><button ng-click="closeModal()" class="cust-button">Cancelar</button> - <button ng-click="createData()" class="cust-button">Agregar</button></p>
			</section>
		</div>